<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Error</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body style="font-family: Impact">
    <center>
    <h1>
    <img src="https://cdn.idntimes.com/content-images/post/20190124/maxresdefault2-76e1ca4f53e2171278d0c16824544767.jpg" alt="Error" style="width:800px;height:450px">
    </h1>
    <h2>
        <center>
            Oops! 
        </center>
    </h2>
    <h3>
        <center>
            We can't seem to find that page
        </center>
    </h3>
    <br>
        <form action="http://localhost:5000/">
            <p> 
            <input type="submit" value="Kembali">
            </p>
        </form>
    </center>
</body>
</html>